<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<!-- <h1> </h1> -->
	<pre>
		data array = <%= @Show %>
		nilai maks = <%= @ArrayInt %>

	</pre>
	<a href="/say/hello">Link ke hello</a>
	
</body>
</html>